# API CoinCap
COINCAP_API_BASE_URL=https://rest.coincap.io/v3
COINCAP_API_KEY=your_api_key_here

# Banco de dados PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=cryptocurrency_db
DB_USER=postgres
DB_PASSWORD=your_password

# Configurações do Airflow
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=your_fernet_key_here
AIRFLOW_SECRET_KEY=your_secret_key_here
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow

# Configurações do Airflow Database
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}